{% extends 'front.html.twig' %}
{# on vient charger le template #}
{# AUCUN CODE HTML en dehors des block twig #}

{% block titre %} About - {{ parent() }} {% endblock %}
{# avec parent je recupere le contenu du bloque parent #}

{% block central%} 
    <h1>About</h1>
   
{% endblock %}

{% block contenu %}
 ctetur adipisicing elit. Eaque laboriosam ad blanditiis deserunt aspernatur dolores asperiores architecto! Nulla, iusto! Harum accusamus pariatur quos porro natus omnis dolores nesciunt labore quia.
{% endblock %}